<app-loading [condition]="isLoading">

</app-loading>


<app-toast [message]="toast.message"></app-toast>

<div id="listing" class="container">
  <div *ngIf="selectedPoint.name">
    <h3>
        <a (click)="resetSelections()" href="javascript:void(0)">Home</a>
        >
        <a (click)="resetPointSelect(); resetGroupSelect()" href="javascript:void(0)">{{selectedLocation.name}}</a>
        >
        <a (click)="resetPointSelect();" href="javascript:void(0)">{{selectedGroup.name}}</a>
        > {{selectedPoint.name}}
    </h3>
    <h1>{{selectedPoint.name}}</h1>
    This is where you'll be able to modify all of the parameters
  </div>
  <div *ngIf="!selectedPoint.name && selectedGroup.name">
      <h3>
          <a (click)="resetSelections()" href="javascript:void(0)">Home</a>
          >
          <a (click)="resetGroupSelect()" href="javascript:void(0)">{{selectedLocation.name}}</a>
          >
          {{selectedGroup.name}}
      </h3>
    <h1>{{selectedGroup.name}}</h1>
    <h4>
        Click on a Point to edit its parameters or create a new Point.
    </h4>
    <div style="margin-bottom: 3px;" *ngFor="let point of selectedGroup.points">
        <div class="row">
          <div class="col">
            <button (click)="selectPoint(point)" style="width: 100%; margin: 5px" type="button" class="btn btn-primary">
              <span style="font-weight: bold; font-size: 125%;">{{point.name}}</span>
            </button>
          </div>
        </div>
      </div>
  </div>
  <div *ngIf="!selectedPoint.name && !selectedGroup.name && selectedLocation.name">
      <h3>
          <a (click)="resetSelections()" href="javascript:void(0)">Home</a>
          >
          {{selectedLocation.name}}
      </h3>
    <br> <h1>{{selectedLocation.name}}</h1>
    <h4>
      Click on a Group to modify its Data Points or create a new Group.
    </h4>
    <div style="margin-bottom: 3px;" *ngFor="let group of selectedLocation.groups">
      <div class="row">
        <div class="col">
          <button (click)="selectGroup(group)" style="width: 100%; margin: 5px" type="button" class="btn btn-primary">
            <span style="font-weight: bold; font-size: 125%;">{{group.name}}</span>
          </button>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 3px;">
        <div class="row">
          <div class="col">
            <button style="width: 100%; margin: 5px" type="button" class="btn btn-success">
              <span style="font-weight: bold; font-size: 125%;">
                <i style="margin-right: 5px;" class="fa fa-plus-square"></i>Add New Group</span>
            </button>
          </div>
        </div>
      </div>
  </div>
  <div *ngIf="!selectedPoint.name && !selectedGroup.name && !selectedLocation.name">
    <h4>
      Click on a Location to modify its Data Groups and Data Points or create a new Location.
    </h4>
    <div style="margin-bottom: 3px;" *ngFor="let location of locations">
      <div class="row">
        <div class="col">
          <button (click)="selectLocation(location)" style="width: 100%; margin: 5px" type="button" class="btn btn-primary">
            <span style="font-weight: bold; font-size: 125%;">{{location.name}} - {{location.country}}</span>
          </button>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 3px;">
      <div class="row">
        <div class="col">
          <button style="width: 100%; margin: 5px" type="button" class="btn btn-success">
            <span style="font-weight: bold; font-size: 125%;">
              <i style="margin-right: 5px;" class="fa fa-plus-square"></i>Add New Location</span>
          </button>
        </div>
      </div>
    </div>
  </div>





  <br>

</div>









<!-- useless below -->




<!-- <div class="row">
  <div class="col-sm-8">
    <span style="font-size: 125%;">Blue Hills 2 - Bahamas</span>
  </div>
  <div class="col-sm-4" style="text-align: right;">
    <i style="margin: 6px;" class="fa fa-pencil"></i>
    <i style="margin: 6px;" class="fa fa-trash"></i>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <span style="padding-left: 12px; font-size: 125%;">Prefilter</span>
  </div>
  <div class="col-sm-4" style="text-align: right;">
    <i style="margin: 6px;" class="fa fa-pencil"></i>
    <i style="margin: 6px;" class="fa fa-trash"></i>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <span style="padding-left: 12px; font-size: 125%;">1st Pass RO</span>
  </div>
  <div class="col-sm-4" style="text-align: right;">
    <i style="margin: 6px;" class="fa fa-pencil"></i>
    <i style="margin: 6px;" class="fa fa-trash"></i>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <span style="padding-left: 12px; font-size: 125%;">2nd Pass RO</span>
  </div>
  <div class="col-sm-4" style="text-align: right;">
    <i style="margin: 6px;" class="fa fa-pencil"></i>
    <i style="margin: 6px;" class="fa fa-trash"></i>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <span style="font-size: 125%;">
      <i style="padding-left: 12px; margin-right: 5px;" class="fa fa-plus-square"></i>Add a group
    </span>
  </div>
  <div class="col-sm-4" style="text-align: right;">

  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <span style="font-size: 125%;">Blue Hills 1 - Bahamas</span>
  </div>
  <div class="col-sm-4" style="text-align: right;">
    <i style="margin: 6px;" class="fa fa-pencil"></i>
    <i style="margin: 6px;" class="fa fa-trash"></i>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <span style="font-size: 125%;">Windsor - Bahamas</span>
  </div>
  <div class="col-sm-4" style="text-align: right;">
    <i style="margin: 6px;" class="fa fa-pencil"></i>
    <i style="margin: 6px;" class="fa fa-trash"></i>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <span style="font-size: 125%;">Governors Harbor3 - Grand Cayman</span>
  </div>
  <div class="col-sm-4" style="text-align: right;">
    <i style="margin: 6px;" class="fa fa-pencil"></i>
    <i style="margin: 6px;" class="fa fa-trash"></i>
  </div>
</div> -->





<!-- <div class="row">
    <div class="col-sm-8">
      <span style="padding-left: 12px; font-size: 125%;">Prefilter</span>
    </div>
    <div class="col-sm-4" style="text-align: right;">
      <i style="margin: 6px;" class="fa fa-pencil"></i>
      <i style="margin: 6px;" class="fa fa-trash"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <span style="padding-left: 24px;">Inlet Pressure (psig)</span>
    </div>
    <div class="col-sm-4" style="text-align: right;">
      <i style="margin: 6px;" class="fa fa-pencil"></i>
      <i style="margin: 6px;" class="fa fa-trash"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <span style="padding-left: 24px;">Outlet Pressure (psig)</span>
    </div>
    <div class="col-sm-4" style="text-align: right;">
      <i style="margin: 6px;" class="fa fa-pencil"></i>
      <i style="margin: 6px;" class="fa fa-trash"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <span style="padding-left: 24px;">Differential Pressure (psig)</span>
    </div>
    <div class="col-sm-4" style="text-align: right;">
      <i style="margin: 6px;" class="fa fa-pencil"></i>
      <i style="margin: 6px;" class="fa fa-trash"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <span style="padding-left: 12px; font-size: 125%;">1st Pass RO</span>
    </div>
    <div class="col-sm-4" style="text-align: right;">
      <i style="margin: 6px;" class="fa fa-pencil"></i>
      <i style="margin: 6px;" class="fa fa-trash"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <span style="padding-left: 24px;">Inlet Pressure (psig)</span>
    </div>
    <div class="col-sm-4" style="text-align: right;">
      <i style="margin: 6px;" class="fa fa-pencil"></i>
      <i style="margin: 6px;" class="fa fa-trash"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <span style="padding-left: 24px;">Outlet Pressure (psig)</span>
    </div>
    <div class="col-sm-4" style="text-align: right;">
      <i style="margin: 6px;" class="fa fa-pencil"></i>
      <i style="margin: 6px;" class="fa fa-trash"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <span style="padding-left: 24px;">Differential Pressure (psig)</span>
    </div>
    <div class="col-sm-4" style="text-align: right;">
      <i style="margin: 6px;" class="fa fa-pencil"></i>
      <i style="margin: 6px;" class="fa fa-trash"></i>
    </div>
    <div class="col-sm-8">
        <span style="padding-left: 12px; font-size: 125%;">2nd Pass RO</span>
      </div>
      <div class="col-sm-4" style="text-align: right;">
        <i style="margin: 6px;" class="fa fa-pencil"></i>
        <i style="margin: 6px;" class="fa fa-trash"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <span style="padding-left: 24px;">Inlet Pressure (psig)</span>
      </div>
      <div class="col-sm-4" style="text-align: right;">
        <i style="margin: 6px;" class="fa fa-pencil"></i>
        <i style="margin: 6px;" class="fa fa-trash"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <span style="padding-left: 24px;">Outlet Pressure (psig)</span>
      </div>
      <div class="col-sm-4" style="text-align: right;">
        <i style="margin: 6px;" class="fa fa-pencil"></i>
        <i style="margin: 6px;" class="fa fa-trash"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <span style="padding-left: 24px;">Differential Pressure (psig)</span>
      </div>
      <div class="col-sm-4" style="text-align: right;">
        <i style="margin: 6px;" class="fa fa-pencil"></i>
        <i style="margin: 6px;" class="fa fa-trash"></i>
      </div>
  </div> -->